packages/
SWTOR-External/bin/
.vs/SWTOR-External/v17/.suo
.vs/SWTOR-External/v17/DocumentLayout.json
.vs/SWTOR-External/FileContentIndex/31ad2122-d04f-43f9-add4-02ce0518f223.vsidx
.vs/SWTOR-External/FileContentIndex/060df926-590f-40d6-ae07-8df7c1bd023d.vsidx
.vs/SWTOR-External/FileContentIndex/060df926-590f-40d6-ae07-8df7c1bd023d.vsidx
.vs/SWTOR-External/FileContentIndex/060df926-590f-40d6-ae07-8df7c1bd023d.vsidx
.vs/SWTOR-External/v17/.suo
.vs/SWTOR-External/v17/DocumentLayout.json
SWTOR-External/Form1.cs
.vs/SWTOR-External/FileContentIndex/15c3b5fd-e3fa-4369-9e2d-a9224eedeca2.vsidx
.vs/SWTOR-External/FileContentIndex/290ecb2d-03a4-4fe3-8a9d-245a4f25bc8d.vsidx
/.vs
*.exe
